h1{
    font: bold normal 40px/70px Arial;
    text-align: center;
    color: blue
}

h2{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: rgb(73, 189, 82)
}
p{
    width: 80%;
    text-align: justify;
    text-indent: 5%;
}