/* обращение по тегу */
p {
  color: rgba(7, 33, 180, 0.842);
}
h1 {
  color: green;
}

th {
  height: 100px;
  text-align: left;
}
td {
  width: 300px;
  height: 100px;
}
/* Выравнивание текста на CSS  text-align */
/* (значение left), по правому (значение right), по центру (значение center) и одновременно и по правому и по левому краю (значение justify). */
p {
  text-align: center;
}
h1 {
  width: 300px;
  text-align: center;
}
/* Жирность текста
font-weight, которое позволяет сделать текст жирным или наоборот - отменить жирность (к примеру, для заголовков, которые жирные по умолчанию). 
Чтобы сделать текст жирным, следует указать значение bold, а чтобы отменить жирность - значение normal. */
/* Курсив - font-style */
h1 {
  font-style: italic;
}
/* Размер шрифта на CSS  font-size*/
h1 {
  font-size: 50px;
  font-weight: normal;
}

/* Тип шрифта на CSS
Свойство font-family позволяет задать семейство шрифта. Наиболее распространенные шрифты: 
Times New Roman (стоит по умолчанию), Arial, Georgia, Verdana, Trebuchet MS, Impact, Arial Black, Comic Sans MS, Courier New. */
/* Межстрочный интервал на CSS
Давайте теперь научимся задавать межстрочный интервал тексту.
Под межстрочным интервалом подразумевается расстояние между линиями текста, то есть белый промежуток между ними.
Для этого предназначено свойство line-height */
p {
    font-weight: bold;
    font-family: "Comic Sans MS";
    width: 400px;
    line-height: 15px;
    /* или */
    line-height: 1.5;
    font-size:15px;
    text-align: left;
    text-indent: 50px;  /* красная строка*/
  }
  /* Свойство-сокращение font
курсив жирность размер_шрифта / межстрочный_интервал семейство */
/* Эффекты текста на CSS
Свойство text-decoration позволяет задавать некоторые эффекты 
Значение underline добавляет подчеркивание тексту:
Значение none отменяет все эффекты. 
Обычно используется для отмены подчеркивания ссылок.

*/

p {
	text-decoration: underline;
}