body {
    background-color: rgb(0, 0, 0);
}
/* Группировка селекторов на CSS
 селекторы тегов можно объединять через запятую и CSS код применится к ним всем одновременно*/
 h2, h3, p {
	color: red;
}
/* Селектор потомков на CSS 
В этом случае нам поможет селектор потомков. 
Он позволяет выбирать теги по их родителю. Для этого нужно указать селектор родителя, 
а через пробел - селектор потомка. В нашем случае селектор ul li выберет все теги li из списка ul,
 а селектор ol li - выберет все теги li из списка ol. Покрасим их в нужные цвета:*/
ul li {
	color: red;
}
ol li {
	color: green;
}
/* Классы элементов на CSS
Чтобы отнести тег какому-нибудь классу, нужно этому тегу написать атрибут class,
 а в нем - придуманное вами название класса, состоящее из букв, цифр, символов подчеркивания и дефиса. */
 .eee {
	color: blue;
}
.zzz {
	color: yellow;
}